<div>
  <h3>Add new transaction</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="text">Text</label>
      <input
        type="text"
        id="text"
        placeholder="Enter text..."
        [(ngModel)]="text"
        name="text"
      />
    </div>
    <div class="form-control">
      <label for="amount">
        Amount <br />
        (negative - expense, positive - income)
      </label>
      <input
        type="text"
        id="amount"
        placeholder="Enter amount..."
        [(ngModel)]="amount"
        name="amount"
      />
    </div>
    <button class="btn" type="submit">Add transaction</button>
  </form>
</div>
